@font-face {
    font-family: 'Comfortaa-R';
    src: url(../fonts/Comfortaa-Regular.ttf);
}
@font-face {
    font-family: 'Jetbrain-R';
    src: url(../fonts/JetBrainsMonoNL-Regular.ttf) format('truetype');
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    section.home > div.container {
        background-color: #131313;

        width: 100%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center; 
        flex-direction: column;
        color: #fff;
    }
    
    div.buttons-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 25px;
    }

    section.home > div.container > h2 {
        font-family: 'Jetbrain-R';
        font-weight: 10;
    }

    section.home > div.container > img {
        width: 100%;
    }

    div.buttons-container > div.button {
        position: relative;
        width: 125%;
        height: 100%;
        background-color: #FC7E1F;
        text-align: center;
        padding: 10px;
        padding-top: 15px;
        padding-bottom: 15px;
        font-family: 'Comfortaa-R';
    }

    div.buttons-container > div.button > a {
        text-decoration: none;
        color: #fff;
        font-size: 20px;
        padding: 20px;
    }

    div.buttons-container > div.button:before {
        position: absolute;
        content: "";
        top: 5px;
        left: 5px;
        width: 15px;
        height: 15px;
        background: transparent;
        border-top: 2px solid white;
        border-left: 2px solid white;
    }

    div.buttons-container > div.button:after {
        content: "";
        position: absolute;
        bottom: 5px;
        right: 5px;
        width: 15px;
        height: 15px;
        background: transparent;
        border-bottom: 2px solid white;
        border-right: 2px solid white;
    }
}