@font-face {
    font-family: 'Comfortaa-R';
    src: url(../fonts/Comfortaa-Regular.ttf);
}
@font-face {
    font-family: 'Jetbrain-R';
    src: url(../fonts/JetBrainsMonoNL-Regular.ttf) format('truetype');
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    body {
        background-color:  #131313;
    }
    
	main.resize {
        padding-bottom: 10vh;
	}
	
    section.home > div.container {
        background-color: #131313;

        width: 100%;
        height: 100vh;

        display: flex;
        align-items: center;
        justify-content: flex-start; 
        flex-direction: column;
        color: #fff;

        text-align: left;
    }
	
    section.home > div.center {
        justify-content: center;
    }


    section.home > div.profil {
        height: 100vh;
        justify-content: flex-start;
        padding-top: 5vh; 
		padding-bottom: 15vh; 
    }

    section.home > div.customer {
        justify-content: flex-start;
    }

    section.home > div.container-top {
        background-color: #131313;

        width: 100%;
        height: 94%;

        display: flex;
        align-items: center;
        justify-content: flex-start; 
        flex-direction: column;
        color: #fff;
    }

    div.container-top > div.box-top {
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: space-around; 
        flex-direction: row;

        margin-top: 15%;
    }
    
    div.buttons-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 25px;
    }
	
	h3.title {
		font-family: 'Jetbrain-R';
        font-weight: 10;
		margin-top: 10%;
	}

    section.home > div.container > h2 {
        font-family: 'Jetbrain-R';
        font-weight: 10;
    }

    h3 {
        font-family: 'Jetbrain-R';
        font-weight: 10;
    }

    section.home > div.container > img {
        width: 100%;
    }
    
    section.home > div.container > img.avatar {
        width: 40%;
    }
    
    section.home > div.container > img.avatar-profil {
		width: 128px;
    	height: 128px;
		margin-top: 3vh;
		border-radius: 100%;
    	border: double 7px;
		
    }

    section.home > div.container > h2.user-title {
        margin-top: 10%;
        margin-bottom: 15%;
    }


    a.box-add {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-decoration: none;
        color: #fff;
    }

    span.box-icon {
        font-size: 400%;
        margin: 10%;
    }

    i.icon {
        color: #FC7E1F;
    }

    /*///////////////////////////////////////////////////////////////////*/
    /* SECTION BUTTON INPUT TEXTENTRY */
    /*///////////////////////////////////////////////////////////////////*/
    div.entry-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        margin: 20%;
    }

    div.entry-container > div.box {
        position: relative;
    }
    
    div.entry-container > div.box > input, label, select {
        position: relative;
        width: 270px;
        height: 6.28%;
        background-color: #2B2B2B;
        text-align: center;
        padding: 10px;
        padding-top: 18px;
        padding-bottom: 18px;
        font-family: 'Comfortaa-R';
        color: #fff;
        font-size: 15px;
        border: none;
    }

    div.entry-container > div.box > input:focus {
        outline: none;
    }

    div.box > div.left:before {
        position: absolute;
        content: "";
        top: 0px;
        left: 0px;
        width: 15px ;
        height: 15px;
        background: transparent;
        border-top: 2px solid white;
        border-left: 2px solid white;
        z-index: 100;
    }

    div.box > div.left:after {
        position: absolute;
        content: "";
        bottom: 0px;
        left: 0px;
        width: 15px;
        height: 15px;
        background: transparent;
        border-bottom: 2px solid white;
        border-left: 2px solid white;
        z-index: 100;
    }

    div.box > div.right:before {
        position: absolute;
        content: "";
        top: 0px;
        right: 0px;
        width: 15px;
        height: 15px;
        background: transparent;
        border-top: 2px solid white;
        border-right: 2px solid white;
        z-index: 100;
    }

    div.box > div.right:after {
        content: "";
        position: absolute;
        bottom: 0px;
        right: 0px;
        width: 15px;
        height: 15px;
        background: transparent;
        border-bottom: 2px solid white;
        border-right: 2px solid white;
        z-index: 100;
    }

    div.buttons-container > a {
        text-decoration: none;
        color: #fff;
        font-family: 'Comfortaa-R';
        text-transform: uppercase;
        font-size: 80%;
        margin-top: 6%;
    }

    div.entry-container > div.container {
        width: 270px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: 'Comfortaa-R';
        text-transform: uppercase;
    }

    div.entry-container > div.container > div.box {
        position: relative;
    }

    div.entry-container > div.container > div.box > select {
        width: 125px;
    }

    /*///////////////////////////////////////////////////////////////////*/
    /* SECTION BUTTON INPUT FILE */
    /*///////////////////////////////////////////////////////////////////*/

    /* div.buttons-container > div.profil >  {
        position: relative;
        overflow: hidden;
        margin: 10px;
    } */

    div.profil {
        background-color: #2B2B2B;
        width: 270px;
        text-align: center;
        padding-top: 7.5px;
        padding-bottom: 7.12px;
        font-family: 'Comfortaa-R';
    }

    .fileUpload {
        position: relative;
        overflow: hidden;
        margin: 10px;
    }
    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }

    /*///////////////////////////////////////////////////////////////////*/
    /* SECTION BUTTON INPUT SUBMIT */
    /*///////////////////////////////////////////////////////////////////*/
    div.buttons-container > button.button {
        position: relative;
        width: 270px;
        background-color: #FC7E1F;
        text-align: center;
        padding: 10px;
        padding-top: 15px;
        padding-bottom: 15px;
        font-family: 'Comfortaa-R';
        color: #fff;
        font-size: 20px;
        border: none;
    }

    div.buttons-container > button.edit {
        width: 170px;
        margin-bottom: 15px;
    }


    div.buttons-container > button.button:before {
        position: absolute;
        content: "";
        top: 5px;
        left: 5px;
        width: 15px;
        height: 15px;
        background: transparent;
        border-top: 2px solid white;
        border-left: 2px solid white;
    }

    div.buttons-container > button.button:after {
        content: "";
        position: absolute;
        bottom: 5px;
        right: 5px;
        width: 15px;
        height: 15px;
        background: transparent;
        border-bottom: 2px solid white;
        border-right: 2px solid white;
    }
    /*///////////////////////////////////////////////////////////////////*/
    /* SECTION BUTTON A */
    /*///////////////////////////////////////////////////////////////////*/
    div.buttons-container > div.button {
        position: relative;
        width: 250px;
        height: 100%;
        background-color: #FC7E1F;
        text-align: center;
        padding: 10px;
        padding-top: 15px;
        padding-bottom: 15px;
        font-family: 'Comfortaa-R';
    }

    div.buttons-container > div.button > a {
        text-decoration: none;
        color: #fff;
        font-size: 19px;
        padding: 20px;
    }

    div.buttons-container > div.button:before {
        position: absolute;
        content: "";
        top: 5px;
        left: 5px;
        width: 15px;
        height: 15px;
        background: transparent;
        border-top: 2px solid white;
        border-left: 2px solid white;
    }

    div.buttons-container > div.button:after {
        content: "";
        position: absolute;
        bottom: 5px;
        right: 5px;
        width: 15px;
        height: 15px;
        background: transparent;
        border-bottom: 2px solid white;
        border-right: 2px solid white;
    }
}