body {
    background-color: #171717;
    font-family: "Comfortaa";
}

body#resume-command {
    background-color: #171717;
    font-family: "Comfortaa";
    height: 100vh;
}

fieldset {
    color: white;
    margin: 40px;
}

fieldset a{
    text-decoration: none;
    color: #FC7E1F;
    padding: 40px;
    color: white;
    font-family: "Comfortaa";
}

.MR-Widget {
    border: none;
    margin: 0px;
    width: auto!important;
}

.MRW-Map {
    width: 50%!important;
}

.MR-Widget .MRW-RList {
    width: 50%;
}

input {
    width: 100%;
    color: #171717;
    margin: 0;
    padding: 2vh;
    font-family: "Comfortaa";
    background: green;
    color: white;
    font-weight: 900;
    border: none;
    cursor: pointer;
}