* {
    font-family: 'Comfortaa-R';
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding-bottom: 10vh;

    background-color: #131313;
    color: #fff;
}

/* ----------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------- */

div.container {
    position: relative;
    width: 90vw;

    margin-top: 2vh;
    background-color: #2B2B2B;
}

div.container div.left:before {
    position: absolute;
    content: "";
    top: 15px;
    left: 15px;
    width: 15px ;
    height: 15px;
    background: transparent;
    border-top: 2px solid white;
    border-left: 2px solid white;
    z-index: 100;
}
div.container div.left:after {
    position: absolute;
    content: "";
    bottom: 15px;
    left: 15px;
    width: 15px;
    height: 15px;
    background: transparent;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    z-index: 100;
}

div.container div.right:before {
    position: absolute;
    content: "";
    top: 15px;
    right: 15px;
    width: 15px;
    height: 15px;
    background: transparent;
    border-top: 2px solid white;
    border-right: 2px solid white;
    z-index: 100;
}
div.container div.right:after {
    content: "";
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 15px;
    height: 15px;
    background: transparent;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    z-index: 100;
}

/* ----------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------- */

div.box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin: 2vh;
}

div.box > img {
    width: 32vh;
    margin: 2vh;
}

div.box >  h2, h4 {
    font-family: 'Comfortaa-R';
    margin: 0;
    margin-bottom: 1vh;
}

div.content > form {
    font-size: 0;
}

div.content > form > input {
    width: 12%;

    background: none;
    border: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    color: #FC7E1F;
    width: 4vh;
    height: 3vh;
}

#fav-add {
    background-image: url('../img/icons/fav-add.png');
}

#fav-del {
    background-image: url('../img/icons/fav-del.png');
}

div.box > div.content {
    width: 80%;
    margin-bottom: 1vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

div.box > form {
    width: 90%;
    margin-bottom: 2.5vh;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* ----------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------- */

div.input-container {
    position: relative;
}

#quantity {
    background-color: #202020;
    border: none;
    text-align: center;
    font-size: 100%;
    padding: 2vw;
    padding-bottom: 4vw;
    padding-top: 4vw;
}

div.rateyo2, div.rateyo {
    margin: 2vh;   
}

/* ----------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------- */

body > form {
    width: 80vw;

    background-color: #2B2B2B;
    margin: 2vh;
    padding: 5vw;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#input {
    height: 15vh;
    width: 65vw;
    padding: 2vh;
    background-color: #202020;
    border: none;
    text-align: left;
}

div.box-review {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: column;
}

div.review {
    width: 80vw;

    background-color: #2B2B2B;
    margin: 2vh;
    margin-bottom: 1vh;
    padding: 5vw;
    background-color: #2B2B2B;
}

div.username {
    display: flex;
    align-items: center;
    gap: 10px;
}

div.username > img {
    width: 9%;
    border-radius: 50%;
}

div.review > h5, h4, div.ctn > h5 {
    margin: 0;
    margin-top: 5%;
}

div.review > h4, div.sub-review > h4 {
    font-weight: 100;
}

div.username > h3 {
    margin: 0;
}

div.review div.rateyo3 {
    padding: 0; 
}

div.sub-review {
    width: 60vw;
    background-color: #2B2B2B;
    margin: 1vh;
    margin-right: 2vh;
    padding: 5vw;
    background-color: #2B2B2B;
}

div.ctn  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;;
}

/* ////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////// */


#popup {
    position: fixed;
    z-index: 100;
    background: #0e0e0e44;
    backdrop-filter: blur(10px);
    top: 0;
    
    width: 100%;
    height: 100%;
    
    display: none;
    justify-content: center;
    align-items: center;
}

#popup textarea#input {
    height: 8vh;
    width: 20vw;
    padding: 3vh;
}

#popup div.container {
    position: relative;
    width: 30vw;
    height: 30vh;
    background-color: #171717;
    justify-content: flex-start}

#popup div.container div.top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#popup div.container div.top > h2, #popup div.container div.top > h3 {
    margin-left: 3vh;
    margin-right: 3vh;
    font-family: 'Comfortaa-R';
}

#popup div.container div.content div.entry-container {
    margin-top: 0;
    margin-bottom: 0;
}

#popup div.container div.content {
    flex-direction: column;
    gap: 15px;
}

#response-close {
    color: #ad1a1a;
    cursor: pointer;
}

#response-close:hover {
    color: #fa2424;
}

div.buttons-container { 
    flex-direction: column;
}

div.buttons-container > button.btn {
    width: 15vw;
}

#red {
    color: red;
    font-family: 'Comfortaa-R';
}

/* ////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////// */

@media only screen and (min-width : 1224px){
    body {
        padding: 0;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 1vw;
    }

    body > form {
        width: 63vw;
    }

    div.reviews {
        padding-bottom: 6vh;
        width: 71.7vw;
    }

    div.box-review {
        align-items: center;
    }

    div.review {
        width: 63vw;
        padding: 2vw;
    }

    div.sub-review {
        width: 50%;
        padding: 2vw;
    }

    div.username > img {
        width: 6%;
    }

    div.review > h5, h4, div.ctn > h5 {
        margin-top: 2%;
    }

    #btn {
        cursor: pointer;
    }

    div.container {
        width: 40vw;
        height: 40vh;
        margin-top: 0;
    }

    div.desc {
        width: 30.7vw;
    }

    div.desc h2 {
        margin: 2vh;
    }
    div.desc p {
        margin: 2vh;
        text-align: justify;
    }

    div.container div.box, div.informations div.content {
        flex-direction: row;

    }

    div.informations > form, div.informations div.content {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 2vh;
    }

    #input {
        width: 97%;
    }

    #quantity {
        padding: 1vw;
        padding-bottom: 1.6vh;
        padding-top: 1.6vh;
        color: #fff;
    }

    input#quantity::-webkit-outer-spin-button, input#quantity::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    div.reviews > form {
        background-color: #2B2B2B;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 3vh;
    }

    div.reviews > form > div.input-container {
        width: 90%;
    }
}